<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'candidate/css/resume_upload.css' %}">
</head>
<body> 
    <div class="wrapper">
        <header>File Upload Javascript</header>
        <form action="#">
            <i class="fas fa-cloud-upload-alt"></i>
            <p>Browse File to Upload</p>
        </form>
        <section class="progress-area">
            <li class="row">
                <i class="fas fa-file-alt"></i>
                <div class="content">
                <div class="details">
                    <span class="name">image_01.png . Uploading</span>
                    <span class="percent">50%</span>
                </div>
                <div class="progress-bar">
                    <div class="progress"></div>
                </div>
                </div>
            </li>
        </section>
        <section class="upload-area">
            <li class="row">
                <div class="content">
                    <i class="fas fa-file-alt"></i>
                    <div class="details">
                        <span class="name">image_01.png . Uploaded</span>
                        <span class="size">70KB</span>
                    </div>
                </div>
                <i class="fas fa-check"></i>
            </li>
            <li class="row">
                <div class="content">
                    <i class="fas fa-file-alt"></i>
                    <div class="details">
                        <span class="name">image_01.png . Uploaded</span>
                        <span class="size">70KB</span>
                    </div>
                </div>
            </li>
        </section>
    </div>
    <script src="{% static 'candidate/js/resume_upload.js' %}"></script>
    
</body>
</html>